.miniCart {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  z-index: var(--z-cart);
  height: var(--navbar-height);
  padding-right: var(--outer-margin);

  h3 {
    margin: 0;
    padding: 0;
  }

  button {
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    padding-left: 0.7em !important;

    .icon {
      position: relative;
      margin-top: -0.1rem;

      img {
        position: relative;
        height: 24px;

        @include mq($from: desktop) {
          height: 33px;
        }
      }

      .loader {
        position: absolute;
        display: none;
        z-index: 2;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 2px;
      }
    }

    &.inverted {
      .icon>img {
        @include mq($from: desktop) {
          height: 43px;
        }
      }

      &:hover {
        color: var(--white);
      }

      color: var(--white);
    }

    .count {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      top: 0.1em;

      @include mq($until: desktop) {
        top: 0em;
        font-size: 0.7rem;
      }
    }

    &.loading {
      .loader {
        display: flex;
      }

      .count {
        display: none;
      }
    }
  }
}

.cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  right: 0;
  top: 0;
  z-index: var(--z-cart);
  overflow: hidden;
  width: 30vw;
  padding: var(--outer-margin);
  height: 100vh;

  @include mq($until: desktop) {
    width: 100%;
  }

  header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      position: absolute;
      top: 0;
      left: 0;
    }


    .currency {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      line-height: 0.95em;

    }

    .close {
      cursor: pointer;
      font-size: 3rem;
    }
  }

  ul.items {
    list-style: none;
    display: flex;
    flex-direction: column;

    button {
      padding: 0;
    }

    li {
      display: flex;
      flex-direction: row;
      margin-top: 1em;
      border-top: 1px solid var(--white);
      padding-top: 1em;

      &.updating {
        opacity: 0.5;
      }

      .thumb {
        width: 5rem;
        height: 5rem;
        background-color: var(--gray);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1em;
        line-height: 1.25;

        button.minus {
          margin-right: 0.25em;
        }

        button.plus {
          margin-left: 0.25em;
        }

        button.minus,
        button.plus {
          width: 1em;

          &:hover {
            background: var(--black);
            color: var(--white);
          }
        }
      }

      .amount {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        text-align: right;
        padding-top: 0.85em;

        .price {
          flex: 1 1 auto;
        }

        .remove {
          flex: 0 0;
          width: auto;
          padding-bottom: 0.7em;
        }
      }
    }
  }

  .total {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex: 1 1 auto;
    margin-bottom: 0.5em;

    div:first-child {
      flex: 1 1 auto;
    }
  }

  .extra {
    padding-bottom: 1em;
    text-align: right;
  }

  >form {
    display: flex;
    align-items: flex-end;

    button.checkout {
      cursor: pointer;
      width: 100%;
      background-color: var(--black) !important;
      color: var(--white);
    }
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.error {
  color: var(--red);
}


.close {
  --line-height: 0.13rem;
  --line-height-half: calc(var(--line-height) / 2);
  --line-height-middle: calc(var(--line-height) / 4);
  --height: calc(var(--navbar-height) - (var(--outer-margin) * 2.2));
  --width: 21px;

  all: unset;
  position: fixed;
  z-index: 10000000;
  top: 0;
  right: 0;
  margin: var(--outer-margin);
  width: var(--width);
  max-width: var(--width);
  min-height: var(--height);
  pointer-events: all;

  cursor: pointer;

  .wrap {
    position: relative;
    width: 100%;
    height: 100%;

    >div {
      position: absolute;
      width: 100%;
      height: var(--line-height);
      background-color: var(--black);

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }

    }
  }
}