.form {
  display: inline;

  label {
    display: inline;
    padding-right: 0.2em;
  }

  select {
    display: inline;
    background-color: transparent;
  }

  .select {
    display: inline;

    .button {
      display: inline-flex !important;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      display: inline;
      background-color: transparent;
      outline: none;

      .arrow {
        font-size: 0.5em;
        margin-left: 0.5em;
      }

    }
  }
}

.popover {
  overflow-y: scroll;
  scrollbar-width: 10px !important;

  .options {
    background-color: var(--gray);

    .option {
      @include mq($from: desktop) {
        &:hover {
          background-color: var(--black);
          color: var(--white);
          cursor: pointer;
        }
      }
    }
  }
}