.faq {
  .question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h3 {
    padding-bottom: 0.5em;
  }

  .answer {
    margin-bottom: 1em;
    padding-right: 10%;
    max-height: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }
}
