.help {
  @include mq($until: desktop) {
    display: none;
  }

  position: fixed;
  bottom: var(--outer-margin);
  z-index: var(--z-help);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 10vw;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  img {
    width: 10vw;
  }

  &.hide {
    opacity: 0;
  }

  span {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}