.section {
  margin-bottom: var(--space);

  @include mq($from: desktop) {
    margin-bottom: var(--space-big);
  }

  &.full .content {
    @include mq($from: desktop) {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }

  .content {
    grid-column: span 12;

    @include mq($from: desktop) {
      grid-column-start: 3;
      grid-column-end: 11;
    }

    @include mq($until: desktop) {
      div p:last-of-type {
        margin-bottom: 0 !important;
      }
    }
  }

  .scroll {
    position: absolute;
    opacity: 0;
    bottom: calc(2 * var(--outer-margin));
    right: calc(2 * var(--outer-margin));
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    &.visible {
      opacity: 1;
    }

    @include mq($until: desktop) {
      display: none;
    }
  }
}