.section {
  margin-bottom: var(--space);

  @include mq($from: desktop) {
    margin-bottom: var(--space-big);
  }

  .content {
    grid-column: span 12;
    @include mq($from: desktop) {
      grid-column-start: 3;
      grid-column-end: 11;
    }

    @include mq($until: desktop) {
      div p:last-of-type {
        margin-bottom: 0 !important;
      }
    }
  }
}
