.section {
  margin-bottom: var(--space);

  @include mq($from: desktop) {
    margin-bottom: var(--space-big);
  }

  &.full .content {
    @include mq($from: desktop) {
      grid-column-start: 1;
      grid-column-end: 13;
    }
  }

  .content {
    grid-column: span 12;

    @include mq($from: desktop) {
      grid-column-start: 3;
      grid-column-end: 11;
    }

    @include mq($until: desktop) {
      div p:last-of-type {
        margin-bottom: 0 !important;
      }
    }
  }

  .scroll {
    position: absolute;
    opacity: 0;
    bottom: calc(1 * var(--outer-margin));
    right: calc(50vw - (4 * var(--outer-margin)) - (3.7 * var(--gutter)));
    transition: opacity 0.3s ease-in-out;
    padding: var(--outer-margin);
    background-color: var(--beige);
    z-index: 1000;
    cursor: pointer;

    &.visible {
      opacity: 1;
    }

    @include mq($until: desktop) {
      display: none;
    }
  }
}
