.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: var(--space);
  position: relative;

  @include mq($from: desktop) {
    flex-direction: row;
    margin-bottom: var(--space-big);
  }

  &:nth-child(odd) {
    @include mq($from: desktop) {
      flex-direction: row-reverse;
    }
  }

  figure {
    @include mq($from: desktop) {
      flex: 0 0 calc(50% - var(--half-gutter));
      position: sticky;
      top: var(--navbar-height);
      align-self: flex-start;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    @include mq($from: desktop) {
      position: sticky;
      top: var(--navbar-height);
      align-self: flex-start;
      flex: 0 0 calc(50% - var(--half-gutter));
      padding-right: var(--gutter);
      padding-left: var(--gutter);
    }
  }

  h1 {
    //padding-top: 0.5em;
  }

  @include mq($until: desktop) {
    div p:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}
