.thumbnail {
  grid-column: span 4;
  position: relative;
  border-radius: 50% !important;

  &.two {
    grid-column: span 8;
  }

  &.three {
    grid-column: span 6;

    @include mq($until: desktop) {
      &:first-child {
        grid-column: span 12;
      }
    }

    @include mq($from: desktop) {
      grid-column: span 4;
    }
  }

  .image {
    border-radius: 50%;
    position: relative;
    border: var(--outer-margin) solid var(--beige);
    aspect-ratio: 4/5;
    display: flex;
    background-color: var(--white);
  }

  .picture,
  img {
    object-fit: cover;
  }

  h3 {
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: calc(var(--outer-margin) + 0.5em);
    color: var(--white);
    padding-bottom: -0.5em;
  }

  figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;
    text-align: center;

    p {
      width: 100%;
    }
  }
}
