.thumbnail {
  grid-column: span 4;
  position: relative;
  border-radius: 50% !important;

  &.two {
    grid-column: span 8;
  }

  &.three {
    grid-column: span 6;

    @include mq($until: desktop) {
      &:nth-child(3n + 1) {
        grid-column: span 12;
      }
    }

    @include mq($from: desktop) {
      grid-column: span 4;
    }
  }

  &.four {
    grid-column: span 6;

    @include mq($from: desktop) {
      grid-column: span 3;
    }
  }

  .image {
    position: relative;
    //border: var(--outer-margin) solid var(--beige);
    aspect-ratio: 4/5;
    display: flex;
    background-color: var(--white);
  }

  .picture,
  img {
    object-fit: cover;
  }

  h2 {
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 4/5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: calc(var(--outer-margin) + 0.1em);
    padding-top: calc(var(--outer-margin) - 0em);

    color: var(--white);
    padding-bottom: -0.5em;
    text-align-last: justify;
  }

  figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;

    p {
      width: 100%;
    }
  }
}
