.cookieConsent {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: auto;
  width: 100%;
  background-color: var(--white);
  z-index: var(--z-menu);
  flex-wrap: wrap;
  padding: var(--outer-margin);

  @include mq($from: desktop) {
    flex-direction: row;
  }

  header {
    width: 100%;
    h2 {
      text-align-last: justify;
      //padding: var(--outer-margin);
      margin-bottom: var(--outer-margin);
    }
  }

  > div,
  form {
    padding-top: 0;
    @include mq($from: desktop) {
      width: calc(50% - var(--half-gutter));
    }
  }

  .scopes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0;
    padding-top: 0.3rem;

    label {
      width: 50%;

      @include mq($until: desktop) {
        padding-bottom: 0.5em;
      }

      @include mq($from: desktop) {
        width: 25%;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
  button {
    padding-top: 0.7em;
    padding-bottom: 0.8em;
    width: 32%;
    //font-size: 1.4rem;
    &:hover {
      background-color: var(--black);
      color: var(--white);
      letter-spacing: var(--letter-space);
    }
  }
}

.switch {
  --border-color: var(--black);
  --border-color-pressed: var(--black);
  --background-color: var(--white);
  --highlight-background: var(--black);
  --highlight-background-pressed: var(--white);
  --field-background: var(--white);
  --text-color: var(--black);
  --focus-ring-color: var(--black);

  display: flex;
  align-items: center;
  gap: 0.571rem;
  font-size: 1rem;
  color: var(--text-color);
  forced-color-adjust: none;
  //margin-right: 1em;

  .indicator {
    width: 1.55rem;
    border: 2px solid var(--border-color);
    background: var(--background-color);
    border-radius: 1.143rem;
    transition: all 200ms;

    &:before {
      content: "";
      display: block;
      margin: 0.1rem;
      width: 0.6rem;
      height: 0.6rem;
      background: var(--highlight-background);
      border-radius: 16px;
      transition: all 200ms;
    }
  }

  &[data-pressed] .indicator {
    border-color: var(--border-color-pressed);

    &:before {
      background: var(--highlight-background);
    }
  }

  &[data-selected] {
    .indicator {
      border-color: var(--highlight-background);
      background: var(--highlight-background);

      &:before {
        background: var(--field-background);
        transform: translateX(calc(100% - 2px));
      }
    }

    &[data-pressed] {
      .indicator {
        border-color: var(--highlight-background-pressed);
        background: var(--highlight-background-pressed);
      }
    }
  }

  &[data-focus-visible] .indicator {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }

  &[data-disabled="true"] {
    opacity: 0.4;
  }
}
