.thumbnail {
  position: relative;
  grid-column: span 4;

  &.two {
    grid-column: span 8;
  }

  &.three {
    grid-column: span 4;
  }

  &.four {
    grid-column: span 3;
  }

  figure {
    position: relative;

    .image {
      position: relative;
      aspect-ratio: 1/1;
      display: flex;
      background-color: var(--white);

      &.secondary {
        position: absolute !important;
        top: 0;
        left: 0;
        display: none;
        pointer-events: none;
      }

      &:hover + .secondary {
        display: block !important;
      }
    }

    .picture,
    img {
      object-fit: cover;
    }

    figcaption {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 1rem;
    }

    ul {
      display: flex;
      list-style: none;
      padding-top: 0.7rem;

      li {
        .title {
          display: block;
          font-size: 0.85em;
          padding: 0.5em;
          padding-top: 0.8em;
          padding-bottom: 0.9em;
          border: 1px solid var(--gray);
          //background-color: var(--white);
          margin-right: 0.3em;

          &:hover {
            background-color: var(--black);
            color: var(--white);
          }
        }

        .description {
          position: absolute;
          top: 0;
          left: 0;
          height: 84%;
          width: 100%;
          display: none;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: var(--gutter);
          background-color: rgba(255, 255, 255, 0.259);
        }

        &:hover {
          .description {
            display: flex;
          }
        }
      }
    }

    .branding {
      position: absolute;
      top: 0;
      left: 0;
      height: 84%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 2;
      text-transform: uppercase;
    }
  }

  .label {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin: var(--gutter);
    z-index: 100000;
  }
}
