.thumbnail {
  grid-column: span 4;

  figure {
    .image {
      aspect-ratio: 1/1;
      background-color: var(--white);
    }

    .picture {
      object-fit: contain;
    }

    figcaption {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
