.thumbnail {
  flex: 0 0 33.333%;
  display: flex;
  flex-direction: column;

  figure {
    .image {
      //max-height: 30vh;
      aspect-ratio: 1/1;
      background-color: var(--white);
    }

    .picture {
      object-fit: contain;
    }

    figcaption {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
