.product {
  width: 100%;

  > div {
    //flex: 0 0 50%
  }

  .details {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;

    header {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;

      h1 {
        flex: 1 1 auto;
      }
    }

    > p {
    }
  }

  .presentation {
    width: 60%;
    height: 100vh;
  }
}
