.product {
  width: 100%;

  @include mq($until: desktop) {
    display: flex;
    flex-wrap: wrap;
  }

  .presentation {
    width: 60%;
    height: 100vh;
  }
}

.loading {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}