.editorial {
  display: flex;
  margin-top: var(--space-big);
  position: relative;

  h2 {
    padding-top: 0.5em;
  }

  > div {
    position: sticky;
    top: var(--navbar-height);
    width: 50%;
    padding-right: var(--half-gutter);
    align-self: flex-start;
    button {
      margin-top: 2.7rem;
    }
  }

  figure {
    width: 50%;
    padding-left: var(--half-gutter);
    .image {
    }

    .picture {
    }
  }
}
