.contactForm {
  form {
    margin-top: var(--space);
    display: flex;
    flex-direction: column;
    button[disabled] {
      opacity: 0.5;
    }
  }

  button {
    padding: 1rem;
  }

  .error {
    color: var(--red);
  }

  label {
    padding-bottom: 1em;
  }

  input,
  textarea {
    font-family: $body-font;
    padding: 1em;
    margin-bottom: 1rem;
  }

  textarea {
    min-height: 7rem;
  }
}
