.newsletterSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--space-big);
  padding: var(--space);
  background-color: var(--gray);

  @include mq($from: desktop) {
    flex-direction: row;
  }

  @include mq($from: desktop) {

    h3,
    form {
      max-width: 50%;
    }
  }

  h3 {
    flex: 0 0;
    white-space: nowrap;
  }

  .form {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
      flex: 1 1 auto;
      padding: 0.8rem;
    }
  }
}