.newsletter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: var(--space);
  padding: var(--space);
  background-color: var(--gray);

  h3 {
    flex: 1 1;
  }

  form {
    display: flex;
    flex-direction: row;
  }
}