.presentation {
  @include mq($until: desktop) {
    grid-column: span 12;
  }

  @include mq($from: desktop) {
    grid-column-start: 1;
    grid-column-end: 9;
  }

  .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    figure {
      width: 100%;
      flex: 1 1 100%;
      cursor: pointer;
      background-color: var(--gray-image); //Temp!

      .image {
        width: 100%;
      }

      &.double {
        flex: 0 0 calc(50% - (var(--gutter) / 2));

        div {
          aspect-ratio: 4/5;
          display: flex;

          img {
            object-fit: cover;
          }
        }
      }
    }

    &:last-child p {
      margin-bottom: calc(var(--gutter) - 0.3rem);
    }

    div {
      width: 100%;
      min-height: var(--gutter);
    }

    div > p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
