.meta {
  width: 100%;
  margin-bottom: var(--outer-margin);
  border-top: 1px solid var(--gray);

  @include mq($until: desktop) {
    grid-column: span 12;
  }

  @include mq($from: desktop) {
    grid-column-start: 5;
    grid-column-end: 13;
  }

  .header {
    padding-top: 1.3rem;
  }

  .wrapper {
    border-bottom: 1px solid var(--gray);
    //margin-bottom: 2rem;

    a {
      scroll-margin-top: var(--navbar-height);
    }

    .metaType {
      display: flex;
      flex-direction: row;
      width: 100%;
      cursor: pointer;
      padding-top: 1rem;
      padding-bottom: 0.8rem;

      &:not(:first-of-type) {
        border-top: 1px solid var(--gray);
      }

      .type {
        flex: 1 1 100%;
      }

      button {
        background-color: transparent;
        padding: 0;
      }
    }

    ul {
      list-style: none;
      overflow: hidden;
      transition: max-height 0.3s ease-out;

      @include mq($from: desktop) {
        padding-left: calc(2 * var(--outer-margin));
        padding-right: calc(2 * var(--outer-margin));
      }

      &.show {
        margin-bottom: 1.5rem;
      }
    }
  }

  .inc {
    display: none;
    p {
      width: 100%;
      text-align: center !important;
    }
  }
}
