.details {
  @include mq($until: desktop) {
    grid-column: span 12;
  }

  @include mq($from: desktop) {
    padding-top: 1rem;

    grid-column-start: 1;
    grid-column-end: 5;
    position: sticky;
    top: var(--navbar-height);
    height: calc(100vh - var(--navbar-height));
  }

  &.expanded {
    //height: calc(200vh - var(--navbar-height));
  }

  .mainImage {
    margin-top: 1rem;
    aspect-ratio: 4/5;

    @include mq($from: desktop) {
      display: none;
    }

    .image {
    }

    .picture {
    }
  }

  header {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    padding-top: 1rem;
    align-items: baseline;

    h1 {
      //flex: 1 1 auto;
      margin-bottom: 0;
      padding-right: 0.5em;
    }
  }
}

.readMore {
  all: unset;
  cursor: pointer;
  display: block;
  padding-top: 0.4em;
}

.summary {
  display: inline;
}

.description {
  padding-top: 1em;
  //margin-bottom: 1em;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  p {
    padding-bottom: 0;
  }
}

.formExpanded {
  // sätt så att dett bara händer om det inte finns plats
  //position: relative;
  //bottom: 0;
}
