.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: var(--outer-margin);

  fieldset {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5em;

    .description,
    .sizeguide {
      flex: 0 0 3em;
    }

    .sizeguide {
      text-align: center;
      border: 1px solid var(--gray);
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &[aria-disabled="true"] {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .colors {
      display: flex;
      flex-direction: row;
      align-items: center;

      .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        border: 0;
        margin: 0;
        background-color: transparent;
        border: 1px solid var(--gray);

        &:hover {
          background-color: var(--gray);
        }

        .value {
          flex: 1 1 auto;
          text-align: left;
        }

        .arrow {
          flex: 0 0;
          margin: 0;
        }
      }
    }

    .sizes {
      display: flex;
      flex-direction: row;
      align-items: center;

      .radio {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 1em;
        height: 2em;
        border: 0px;
        background: transparent;
        border: 1px solid var(--gray);
        border-right: 0px;

        cursor: pointer;

        &.selected {
          background-color: var(--black);
          color: var(--white);
          border: 1px solid var(--black);
        }

        &.disabled {
          opacity: 0.5;
        }
      }
    }

    >div {
      flex: 1 1 auto;
    }

    select {}
  }

  button {
    margin-top: 1rem;
  }
}

.colorsPopover {
  background-color: var(--gray);
  margin-bottom: -8px;

  .options {
    display: flex;
    flex-direction: column;
    padding: 0.2em;

    .option {
      flex: 1 1 auto;
      cursor: pointer;
      width: 100%;
      padding: 0.5em;
      border-bottom: 1px var(--white);

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }

      figure {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 0;

        img {
          flex: 0 0;
          min-width: 2em;
          min-height: 2em;
          object-fit: cover;
          margin-right: 0.5em;
          background-color: var(--white);
          border: 0;
        }

        figcaption {
          flex: 1 1 auto;
          text-align: left;
        }
      }
    }
  }
}