.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  margin-left: calc(-1 * var(--outer-margin));
  margin-right: calc(-1 * var(--outer-margin));
}