.container {
  section:first-of-type {
    padding-top: 2rem;
  }

  .fullscreenBlock {
    height: var(--hero-height);
    margin-left: calc(-1 * var(--outer-margin));
    margin-right: calc(-1 * var(--outer-margin));
    margin-bottom: 0;
  }
}