.sizeGuide {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space);

  figure {
    width: 20%;
    margin-bottom: var(--space);
  }
  .image {
  }

  table {
    width: 75%;
    margin-bottom: var(--space);
    //width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid var(--gray);

    td,
    th {
      font-weight: normal;
      padding: 0.5em;
      border: 1px solid var(--gray);
      text-align: center;
    }

    th,
    td:first-of-type {
      font-family: $body-font;
    }

    td:first-of-type,
    th:first-of-type {
      text-align: left;
    }
  }
}
