.filter {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5em;

  >li,
  span.active {
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      text-align: right;
    }

    .title {
      opacity: 0;

      &.hide {
        opacity: 0;
      }
    }

    &:has(.active:hover) {
      .title {
        opacity: 0;
      }
    }

    .active {
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      text-align: center;
      white-space: nowrap;
      opacity: 1;
      //transition: letter-spacing 0.2s ease-in-out;

      &.selected,
      &:hover {
        opacity: 1;
        letter-spacing: var(--letter-space);
      }

      .arrow {
        all: unset;
        font-size: 1rem;
        user-select: none;
        margin-top: 0.5em;
        cursor: pointer;
        opacity: 0;

        &.show {
          opacity: 1;
        }
      }

      .sub {
        position: absolute;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        top: 4rem;
        left: 0;
        background-color: var(--beige);

        li {
          text-align: left;

        }
      }
    }
  }
}