.logo {
  position: fixed;
  font-size: var(--logo-size);
  top: calc(var(--outer-margin) - 0.17em);
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: var(--z-logo);
  text-transform: uppercase;
  opacity: 1;

  font-family: "Human-Logo", sans-serif;

  @include mq($from: desktop) {
    top: calc(var(--outer-margin) - 0.2em);
  }

  &.intro {
    animation-delay: 0.2s;

    a {
      color: var(--logo-color);

      &:hover {
        color: var(--logo-color);
        letter-spacing: 0;
      }
    }

    &.black {
      a {
        color: var(--black);

        @include mq($from: desktop) {
          &:hover {
            color: var(--black);
            letter-spacing: var(--letter-space);
          }
        }
      }
    }
  }

  @include mq($from: desktop) {
    &:hover {
      letter-spacing: var(--letter-space);
    }
  }
}

.tagline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--logo-color);
  z-index: var(--z-logo);
  margin-top: 1em;
  pointer-events: none;

  &.hide {
    display: none !important;
  }

  h2 {
    grid-column-start: 2;
    grid-column-end: 12;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 4.3rem;

    @include mq($until: desktop) {
      font-size: 1.6rem;
    }

    span {
      opacity: 1;
      animation: start 0.2s ease-out both;
      animation-direction: normal;
      line-height: 0;

      @keyframes start {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      &.hide {
        opacity: 1;
        animation-direction: reverse;
        animation-delay: 0 !important;
        animation-duration: 0s !important;
      }

      &.force {
        transition-delay: 0s !important;
      }
    }
  }
}
