.logo {
  position: fixed;
  font-size: var(--logo-size);
  top: calc(var(--outer-margin) - 0.24em);
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: var(--z-logo);
  text-transform: uppercase;

  &.intro {

    a {
      transition: color 0.2s ease-out;
      color: var(--white);

      &:hover {
        color: var(--white);
        letter-spacing: 0;
      }
    }

    &.black {
      a {
        color: var(--black);

        &:hover {
          color: var(--black);
          letter-spacing: var(--letter-space);
        }
      }
    }
  }

  &:hover {
    letter-spacing: var(--letter-space);
  }
}

.tagline {
  position: fixed;
  top: calc(50vh);
  left: 0;
  width: 100%;
  color: var(--white);
  z-index: var(--z-logo);
  pointer-events: none;

  &.hide {
    display: none !important;
  }

  h2 {
    grid-column-start: 2;
    grid-column-end: 12;
    padding-top: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;

    span {
      opacity: 1;
      transition: opacity 0.1s ease-out;

      &.hide {
        opacity: 0;
      }

      &.force {
        transition-delay: 0s !important;
      }
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: calc(var(--z-logo) - 1);
  backdrop-filter: blur(10px);
  animation: deblur 0.4s ease-out 1s forwards;

  @keyframes deblur {
    0% {
      backdrop-filter: blur(10px);
    }

    100% {
      backdrop-filter: blur(0px);
      display: none;
    }

  }
}