.navbar {
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  width: 100%;
  height: var(--navbar-height);
  margin: 0;
  padding: var(--outer-margin);
  background-color: var(--background);
  z-index: var(--z-menu);

  .item {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    height: var(--navbar-height);
    padding: 0;
    background-color: transparent !important;
    //transition: letter-spacing 0.2s ease-in-out;

    @include mq($until: desktop) {
      display: none;
    }

    &:hover {
      color: var(--black);
    }

    &.menu {
      left: var(--outer-margin);
    }

    &.close {
      right: var(--outer-margin);
    }

    &.shop {
      right: calc(var(--outer-margin) + 2.2rem);

      @include mq($until: desktop) {
        display: none;
      }
    }


    &.active {
      letter-spacing: var(--letter-space);
    }
  }

}