.navbar {
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  width: 100%;
  height: var(--navbar-height);
  margin: 0;
  padding: var(--outer-margin);
  background-color: var(--background);
  z-index: var(--z-menu);

  .item {
    position: absolute;
    top: 0;
    margin: var(--outer-margin);
    padding: 0;
    background-color: transparent !important;

    &:hover {
      color: var(--black);
    }

    &.menu {
      left: 0;
    }

    &.close {
      right: 0;
    }

    &.active {
      letter-spacing: var(--letter-space);
    }

    &.shop {
      right: 0;
      padding-right: calc(var(--outer-margin) + 1rem);

      &.active {
        letter-spacing: var(--letter-space);
      }
    }
  }


}

.desktop {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-navbar);
  background-color: var(--beige);
  padding-top: var(--navbar-height);
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);

  &.show {
    display: flex;
  }

  ul {
    display: flex;
    list-style: none;
  }

  >ul {
    position: relative;
    flex-direction: row;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;

    h3 {
      padding-bottom: 2em;
    }

    >li {
      position: relative;
      width: 25%;

      ul {
        display: flex;
        flex-direction: column;

        li {
          padding-bottom: 2rem;
        }
      }

      &.thumbnail {
        figure {
          position: absolute;
          width: 100%;
          top: 2.7rem;
          left: 0;
          z-index: 1;
          aspect-ratio: 4 / 4;
          display: flex;

          .image {
            display: none;

            &.show {
              display: block;
              object-fit: cover;
            }

            .picture {}
          }
        }
      }
    }
  }

  .footer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--outer-margin);
    position: absolute;
    bottom: 0;

    .locale {
      flex: 0 0;
      white-space: nowrap;
      min-width: 200px;
    }

    .accessability {
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex: 1 1 auto;
    }
  }
}