:root {
	--black: #161616;
	--beige: #f9f7f5;
	--white: #ffffff;
	--white-opacity: #ffffff25;
	--black-opacity: #16161625;
	--gray-image: #efefe9;
	--red: #bf0000;
	--gray: #e8e8e8;
	--gray-dark: gray;
	--outer-margin: 0.8rem;
	--background: var(--beige);
	--foreground: var(--black);
	--nav-size: 1.7rem;
	--logo-size: calc(var(--nav-size) * 1.2);
	--logo-size-intro: 13.8vw;
	--navbar-height: calc(var(--nav-size) + ((2 * var(--outer-margin)) * 0.7));
	--hero-height: calc(65vh - var(--navbar-height));
	--gutter: 0.6rem;
	--half-gutter: calc(var(--gutter) / 2);

	--letter-space: 0.1em;
	--space: 2rem;
	--space-big: 2.5rem;
	--space-small: 1rem;
	--full-margin: calc(-1 * var(--outer-margin));
	--full-width: calc(100% + 2 * var(--outer-margin));

	--z-variants-form: 1900;
	--z-navbar: 2000;
	--z-menu: 2100;

	--z-logo: 2200;
	--z-help: 2300;
	--z-hamburger: 2400;
	--z-cart: 3000;
	--z-newsletter-popup: 4000;
	--z-cookies: 5000;

	@include mq($from: desktop) {
		--navbar-height: calc(var(--nav-size) + ((2 * var(--outer-margin)) * 0.6));
		--hero-height: calc(85vh - var(--navbar-height));
		--outer-margin: 1.2rem;
		--gutter: 1.2rem;
		--space-big: 4rem;
		--nav-size: 2.5rem;
	}
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--foreground);
	background-color: var(--background);
	font-family: $body-font;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "kern";
}

html {
	box-sizing: border-box;
	//scroll-behavior: smooth;
}

body {
	padding-top: var(--navbar-height);
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--gray);
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: var(--foreground);

	&:hover {
		color: var(--beige-dark);
	}

	&:visited {
		//color: var(--foreground);
	}
}

main {
	margin-right: var(--outer-margin);
	margin-left: var(--outer-margin);
	min-height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-gap: var(--gutter);
	grid-row-gap: 1rem;

	@include mq($from: desktop) {
		grid-row-gap: 2rem;
	}
}

.structured {
	p {
		margin-bottom: 0.5em;
	}

	ol,
	ul {
		padding-left: 0.8em;

		li {
			padding-left: 0em;
		}
	}

	li {
		&::marker {
			font-size: inherit;
		}
	}
}

button {
	color: var(--foreground);
	background-color: var(--gray);
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-weight: normal;
	cursor: pointer;
	//transition: all 0.2s;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.6em;

	&.full {
		width: 100%;

		&:hover {
			letter-spacing: var(--letter-space);
			color: var(--white);
			background-color: var(--black) !important;
		}
	}

	@include mq($until: desktop) {
	}

	@include mq($from: tablet) {
	}
}

hr {
	width: 100%;
	height: 1px;
	border: 0px;
	background: var(--beige-mid);
}

input,
textarea,
select {
	border: none;
	background-color: var(--white);

	&:focus {
		outline: none;
	}
}

fieldset {
	padding: 0;
	margin: 0;
}

.error {
	color: var(--red);
}

//Accessibily

#accessiblyAppDialog.accessibly-app-widget {
	background-color: var(--beige);
}

#accessiblyAppWidgetButton {
	top: auto !important;
	transform: none !important;
	bottom: var(--outer-margin) !important;
	right: var(--outer-margin) !important;
}
