:root {
	--black: #161616;
	--white: #ffffff;
	--red: #bf0000;
	--outer-margin: 5vw;
	--background: var(--white);
	--foreground: var(--black);
	--navbar-height: 2rem;

	--z-navbar: 1100;
	--z-cart: 1200;
	--space: 1rem;

	@include mq($until: tablet) {}

	@include mq($from: tablet, $until: desktop) {}
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--foreground);
	background-color: var(--background);
	font-family: $body-font;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "kern";
	overflow-x: hidden;
	background: linear-gradient(180deg, var(--background-fade-color), var(--white) 40%);
}

html {
	box-sizing: border-box;
}

html,
body {
	//height: 100%;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--beige-light);
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: var(--foreground);

	&:hover {
		color: var(--beige-dark);
	}

	&:visited {
		//color: var(--foreground);
	}
}

article p a {
	text-decoration: underline 1px !important;
	text-underline-offset: 0.15em;
	text-decoration-thickness: 1px;

	&:hover {
		color: var(--beige-dark);
	}
}

.intro {
	margin-bottom: var(--small-space);
	margin-top: -0.2em;
}

button {
	margin-top: var(--space);
	//padding-left: 1.5em;
	//padding-right: 1.5em;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
	background-color: transparent;
	color: var(--foreground);
	border: 0;
	border-top: var(--line-thick);
	//border-bottom: 1px solid var(--foreground);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;

	span {
		margin-left: -0.9em;
		transition: all 0.5s;
	}

	@include mq($until: desktop) {
		padding-bottom: 2rem;
	}

	@include mq($from: tablet) {
		padding-bottom: 1em;
		padding-top: 1em;
	}

	transition: color 0.2s ease-in-out,
	background-color 0.3s ease-in-out,
	padding 0.5s;

	&:hover {
		span {
			margin-left: -0.3em;
		}
	}
}

figcaption {
	@include mq($until: tablet) {
		padding-left: var(--outer-margin);
		padding-right: var(--outer-margin);
	}

	line-height: var(--line-height);
	padding-top: 1em;
}

hr {
	width: 100%;
	height: 1px;
	border: 0px;
	background: var(--beige-mid);
}

input,
textarea,
select {
	background-color: var(--beige-light);
	margin-bottom: 1em;
	padding: 0.8em;
	padding-bottom: 0.9em;
	padding-left: 1em;
	font-family: "Jazz";
	border: none;

	&:focus {
		outline: 1px solid var(--beige-mid);
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1em);
	background-position-y: center;
	color: var(--black);
}