// FONT EMBEDDING & TYPO VARIABLES
$body-font: "StyreneB-Regular", Sans-Serif;
$headline-font: "StyreneA-Black", Sans-Serif;
$headline-font-medium: Sans-Serif;
/*
@font-face {
    font-family: "Logo1";
    src: url("../../public/fonts/bac-01-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Logo2";
    src: url("../../public/fonts/bac-02-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Logo3";
    src: url("../../public/fonts/bac-03-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Logo4";
    src: url("../../public/fonts/bac-04-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "StyreneB-Regular";
    src: url("../../public/fonts/StyreneB-Regular-Web.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "StyreneB-Regular";
    src: url("../../public/fonts/StyreneB-RegularItalic-Web.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "StyreneA-Black";
    src: url("../../public/fonts/StyreneA-Black-Web.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
*/