// FONT EMBEDDING & TYPO VARIABLES
$body-font: "Human", Sans-Serif;
$headline-font: "StyreneA-Black", Sans-Serif;
$headline-font-medium: Sans-Serif;
@font-face {
    font-family: "Human";
    src: url("../public/fonts/Concern-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
