html,
body {
  font-size: 16px;
  font-weight: normal;
  font-family: $body-font;

  @include mq($from: tablet) {
    font-size: 18px;
  }

  @include mq($from: wide) {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

form,
input,
select,
button {
  font-family: $body-font;
}

menu,
menu button,
menu h1,
menu h3 {
  font-size: 2rem;
}