html,
body {
  font-size: 16px;
  font-weight: normal;
  font-family: $body-font;
  line-height: 1em;

  @include mq($from: tablet) {
    font-size: 18px;
  }

  @include mq($from: wide) {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  line-height: 1;
}

form,
input,
select,
button {
  font-family: $body-font;
  line-height: 1;
}

.nav {
  font-size: var(--navSize);
  line-height: 1;
}

p,
.body {
  font-size: 1.4rem;
  line-height: 1.2em;
  margin-bottom: 0;
}

p.small,
.small {
  font-size: 1rem;
}
