.container {
  h1 {
    padding-top: 0.5em;
    grid-column-start: 4;
    grid-column-end: 10;
    text-align: center;
    margin-bottom: 0;
  }
}

.faqs {
  @include mq($until: desktop) {
    grid-column: span 12;
  }
  @include mq($from: desktop) {
    grid-column-start: 2;
    grid-column-end: 12;
  }
  display: flex;
  flex-direction: column;
  list-style: none;

  h3 {
    padding-bottom: 0.7em;
  }

  li {
    scroll-margin-top: var(--navbar-height);
  }

  > li {
    list-style: none;
    padding-top: var(--space);

    @include mq($from: desktop) {
      display: grid;
      grid-template-columns: repeat(10, minmax(0, 1fr));
      grid-gap: var(--gutter);
    }

    &:first-child {
      padding-top: 1rem;
    }

    h3 {
      grid-column: span 2;
    }

    ul {
      list-style: none;

      grid-column: span 8;
    }
  }
}
