.container {
  h1 {
    padding-top: 0.5em;
    grid-column-start: 4;
    grid-column-end: 10;
    text-align: center;
    margin-bottom: 0;
  }

  .help {
    position: fixed;
    bottom: var(--outer-margin);
    z-index: var(--z-help);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 10vw;

    span {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.faqs {
  grid-column-start: 2;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    scroll-margin-top: var(--navbar-height);
  }

  >li {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-gap: var(--gutter);
    padding-top: var(--space);

    &:first-child {
      padding-top: 1rem;
    }

    h3 {
      grid-column: span 2;
    }

    ul {
      list-style: none;

      grid-column: span 8;
    }
  }
}