.form {
  position: relative;

  .agree {
    display: flex;
    flex-direction: row;

    margin-bottom: 1rem;
    justify-content: flex-start;
    align-items: center;

    .desktop,
    .mobile {
      display: none;
    }

    .desktop {
      @include mq($from: desktop) {
        display: inline;
      }
    }

    .mobile {
      @include mq($until: desktop) {
        display: inline;
      }
    }

    input {
      flex: 0 0 !important;
      width: 0.8rem;
      min-width: 0.8rem;
      margin-right: 0.5rem;
    }
  }

  .error {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .submit {
    padding-top: 0.8re;
  }

  >div {
    display: flex;
    flex-direction: column;
  }
}